.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.App-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

@media (min-width: 650px ) {
  .App {
    background-position: center center;
  }

  .App-content {
    align-items: flex-end;
    justify-content: center;
  }
}



@media (min-width: 576px) {
  .App {
    background-position: center center;
  }

  .App-content {
    align-items: flex-end;
    justify-content: center;
  }
}

@media (min-width: 768px) {  .App {
  background-position: center center;
  width: 40%;
}

  .App-content {
    width: 40%;
    align-items: flex-end;
    justify-content: center;
  } }

@media (min-width: 992px) {  .App {
  width: 40%;
  background-position: center center;
}

  .App-content {
    width: 40%;
    align-items: flex-end;
    justify-content: center;
  } }

@media (min-width: 1200px) {  .App {
  width: 40%;
  background-position: center center;
}

  .App-content {
    width: 40%;
    align-items: flex-end;
    justify-content: center;
  }}

